<article>
  <h2><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h2>

  {{ post.excerpt }}

  <footer>
    <p class="small date-time">{{ post.date | date_to_string }}</p>
      
    <ul class="tags list-inline">
      {% for tag in post.tags %}
        <li>
          <a href="/tag/{{ tag }}">
            <span class="badge">
              <i class="fa fa-tag"></i> {{ tag }}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>            
  </footer>
</article>