<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/blog.css">

  </head>
  <body>
    <div class="container">
      <header class="blog-title">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <h2>{{ site.data.extra.slogan }}</h2>
      </header>
      <div class="content">
        <div class="content-inner">
          <div class="wrapper">
            <div class="main">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      {% include site_footer.html %}
    </div>
  </body>
</html>
