/* home page */
html, body.home-page {
  height: 100%;
  text-align: center;
}

body.home-page {
  background: url("/images/background.png") repeat-x scroll center top #2C4762;
}

.fullscreen_post_bg {
  background-position: 50% 50%;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.fullscreen_post_bg:after {
  bottom: 0;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.fullscreen_post_bg:before {
  background: url("/images/vignetter.png") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.6;
  position: fixed;
  right: 0;
  top: 0;
}
.fullscreen_post_bg:before {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: none;
}
.fullscreen_post_bg img {
  display: none;
}


.home{
  color: #fff;
  margin: 0 auto;
  position: relative;
  top: 50%;
  width: 260px;
  z-index: 5;
  margin-top: -180px;

  .site-name {
    margin-bottom: 2em;

    a {
      display: block;
      margin: 0 auto;
      font-size: 3em;
      color: #fff;
      text-decoration: none;
    }
  }

  .slogan {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .nav {
    margin-bottom: 3em;

    a.btn.btn-default {
      color: @btn-default-color;
    }
  }

  .info {
    color: #eee;
  }
}

@media (min-width: @screen-sm-min) {
  .home{
    width: 400px;
  }
}